/* header.css */
.header {
    
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
  }
  
  /* Style for the university name */
  header div:nth-child(1) {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
  }
  
  /* Style for logos */
  .logo{
    height: 40px; /* Adjust the logo height as needed */
    margin-right: 10px;
  }
  