/* header.css */
.header .container {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 2rem 0;
}

/* Style for the university name */
header div:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

/* Style for logos */
.logo {
  height: 130px;
  margin-right: 20px;
}

.university-info h1{
  font-size: 3rem;
}
