/* Sidebar.css */
nav {
  color: black;
  width: 25%;
  border: 1px solid #ccc;
  padding: 3rem;
  border-radius: 4rem;
  background-color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav li {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  padding: 5%;
  background-color: white;
  color: black;
  display: flex; /* To align logo and label horizontally */
  align-items: center; /* To vertically center the content */
  transition: background-color 0.1s, color 0.1s;
  border-radius: 2rem;
  transition: 0.5s all;
  font-size: 3rem;
}

nav li img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 2rem; /* Add some spacing between the logo and label */
}

nav li.selected {
  /* background-color: #f9db08; */
  background-color: #9d170e;
  color: white;
}
