/* Sidebar.css */
nav {
  color: black;
  width: 25%;
  border: 1px solid #ccc;
  padding: 3rem;
  border-radius: 4rem;
  background-color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav li {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  padding: 5%;
  color: black;
  transition: background-color 0.1s, color 0.1s;
  border-radius: 2rem;
  transition: 0.5s all;
  font-size: 3rem;
}

nav li img {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem; /* Add some spacing between the logo and label */
  opacity: 0.9;
}

nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

nav li.selected {
  /* background-color: #f9db08; */
  background-color: #9d170e;
}

nav li.selected a {
  color: white;
  font-weight: 500;
}

nav li a {
  background: none;
}

nav li.selected img {
  filter: invert() brightness(5);
  opacity: 1;
}

nav li .sublinks {
  display: none;
}

nav li.selected .sublinks {
  display: block;
  padding-left: 5rem;
  margin-top: 3rem;
}

nav li.selected .sublinks li.active {
  background-color: white;
  border-radius: 1rem;
}

nav li.selected .sublinks li.active a {
  color: black;
}
