:root {
    --color-1: #9d170e;
    --color-2: #f9db08;
    --color-3: #305fa6;
    --color-4: #00b007;
    --color-5: #790483;
    --color-text-1: #333;
    --color-text-2: #666;
    --color-shade-1: #681009;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-shade-1); /* Initial background color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

.title-container {
    margin-bottom: 50px;
}

.logo-container {
    display: inline-block;
    margin-bottom: 1rem;
}

.logo {
    width: 7rem; 
    height: auto;
    margin-bottom: 1rem; 
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

p {
    font-size: 2rem;
    text-align: center;
    color: var(--color-2);
    margin-top: 1rem;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down img {
    filter: invert();
    width: 4rem; 
    height: auto;
    animation: blink 1s infinite alternate; /* Blink animation */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content {
    background-color: var(--color-2); /* Background color after scrolling */
    padding: 50px 0;
    text-align: center;
    align-items: center;
}

.menu {
    text-align: center;
}

.category {
    display: block;
    margin-bottom: 20px;
}

.category a {
    font-size: 3rem;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f9db08; /* Button background color */
    color: #333; /* Button text color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category a:hover {
    background-color: #c6b40c; /* Button background color on hover */
}

.menu-picture {
    width: 100%;
}

/* Footer Styles */
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.menu-picture {
    width: 50%;
    max-width: 50%;
}

.footer {
    color: white;
    margin-right: 4rem;
    width: 40%;
    max-width: 40%;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links {
    text-align: center;
}

.copyright {
    color: var(--color-2);
    font-size: 0.8rem;
    text-align: center;
}




@media only screen and (max-width: 320px) { /*small smart phone */
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.75rem;
    }
    .logo-container {
        margin-bottom: 0.5rem;
    }

    .logo {
        width: 4rem;
        margin-bottom: 0rem; 
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .scroll-down img {
        width: 1.8rem; 
    }

    .category a {
        font-size: 1rem;
    }

    
    .menu-picture {
        width: 0%;
        max-width: 0%;
    }
    
    .footer {
        font-size: 0.8rem;
        margin-right: 2rem;
        width: 80%;
        max-width: 80%;
    }
}

@media only screen and (min-width: 351px) and (max-width: 425px) { /* medium smart phone*/
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .logo {
        width: 4rem;
        margin-bottom: 0rem; 
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .scroll-down img {
        width: 2rem; 
    }
    .category a {
        font-size: 1.5rem;
    }

    .menu-picture {
        width: 0%;
        max-width: 0%;
    }
    
    .footer {
        font-size: 0.8rem;
        margin-right: 3rem;
        width: 80%;
        max-width: 80%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) { /* Tab */
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 3.5rem;
    }

    .logo {
        width: 5rem;
        margin-bottom: 0rem; 
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .scroll-down img {
        width: 2.5rem; 
    }
    .category a {
        font-size: 2rem;
    }

    .menu-picture {
        width: 50%;
        max-width: 50%;
    }
    
    .footer {
        margin-right: 2.5rem;
        width: 40%;
        max-width: 40%;
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Medium-Small Laptop*/
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 4rem;
    }

    .logo {
        width: 5rem;
        margin-bottom: 0.3rem; 
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
    .scroll-down img {
        width: 3rem; 
    }

    .category a {
        font-size: 2.5rem;
    }

    .menu-picture {
        width: 50%;
        max-width: 50%;
    }
    
    .footer {
        font-size: 0.8rem;
        margin-right: 3rem;
        width: 40%;
        max-width: 40%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) { /*Std. Laptop => Defualt*/ 
    h1 {
        font-size: 7rem;
    }

    p {
        font-size: 5rem;
    }

    .logo {
        width: 7rem;
    }
    .scroll-down img {
        width: 4rem; 
    }

    .category a {
        font-size: 3rem;
    }

    .menu-picture {
        width: 50%;
        max-width: 50%;
    }
    
    .footer {
        margin-right: 4rem;
        width: 40%;
        max-width: 40%;
    }
    
    
}

@media only screen and (min-width: 1441px) { /*screens larger than Std. Laptop*/
    h1 {
        font-size: 10rem;
    }

    p {
        font-size: 8rem;
    }
     
    .logo {
        width: 10rem;
    }
    .scroll-down img {
        width: 6rem; 
    }

    .category a {
        font-size: 5rem;
    }

    .menu-picture {
        width: 50%;
        max-width: 50%;
    }
    
    .footer {
        margin-right: 4rem;
        width: 40%;
        max-width: 40%;
    }

  
    
}
