/* app.css */
:root {
  --color-1: #9d170e;
  --color-2: #f9db08;
  --color-3: #305fa6;
  --color-4: #00b007;
  --color-5: #790483;
}

.App {
  background-image: url("./assets/PublicDisplayBackground.svg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Use 100vh for full viewport height */
  overflow: hidden; /* Prevents vertical scroll bars */
  margin: 0; /* Remove margin for body or other parent elements */
  padding: 0;
}

.container {
  display: flex;
  height: 90.44%;
}
