/* app.css */
:root {
  --color-1: #9d170e;
  --color-2: #f9db08;
  --color-3: #305fa6;
  --color-4: #00b007;
  --color-5: #790483;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  width: calc(100% - 5rem);
  margin: 0 auto;
}

.App {
  background-image: url("./assets/PublicDisplayBackground.svg");
  background-position: right;
  background-size: 180%;
  width: 100%;
  height: 100vh; /* Use 100vh for full viewport height */
  overflow: hidden; /* Prevents vertical scroll bars */
  margin: 0; /* Remove margin for body or other parent elements */
  padding: 0;
  display: flex;
  flex-direction: column;
}

.App > .container {
  display: flex;
  justify-content: space-between;
  height: 90%;
  gap: 3rem;
}
