/* upcomingvideos.css */
.more-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.more-info h3 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.more-info img{
  width: 1000px;
  margin-top: 2rem;
}

.more-info .link {
  margin-top: 2rem;
  font-size: 3rem;
  color: #174a79;
}

.more-info p{
  font-size: 3rem;
}
