/* achievements.css */

.achievements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1000px; /* Adjust the height as needed */
  margin-top: 350px;
}

.achievements-container .image-list {
  width: 30%; /* Adjust the width of the image list */
}

.achievements-container .image-item {
  margin-bottom: 5px; /* Adjust the spacing between images */
  transition: opacity 0.3s ease-in-out;
  margin-right: 1px;
  opacity: 0.5;
}

.achievements-container .image-item.active {
  opacity: 1;
}

.achievements-container img {
  margin-bottom: 10px;
  margin-left: 100px;
  max-width: 300px;
  height: auto;
  display: block;
}

.achievements-container .center-image {
  margin-top: 0px;
  width: 100%; /* Adjust the width of the center image */
  position: relative;
}

.achievements-container .center-image img {
  max-width: 1600px; /* Increase the max-width to make the center image larger */
  width: 100%;
  height: auto;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.achievements-container .image-title {
  background-color: var(--color-1);
  font-size: 60px;
  font-weight: 500;
  margin-top: 0px;
  color: #fff;
  padding: 15px 100px;
  text-align: center;
  width: 89.2%;
  margin-left: 100px;
  height: 100px;
}

.achievements-container .image-controls button {
  font-size: 100px;
  color: #8a8383;
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 900;
}

.achievements-container .left {
  margin-left: 120px;
  margin-right: 0px;
}

.achievements-container .right {
  margin-right: 50px;
  margin-left: 0px;
}

.achievements-container .image-controls button:hover {
  color: #000;
}

/* .logo-image {
  background-color: #000;
} */
