/* previousevents.css */

.achievement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.achievements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

.achievements-container .image-list {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.achievements-container .image-item {
  margin-bottom: 20px; /* Adjust the spacing between images */
  transition: opacity 0.3s ease-in-out;
  margin: auto 1px;
  opacity: 0.5;
}

.achievements-container .image-item.active {
  opacity: 1;
}

.achievements-container .image-item img {
  aspect-ratio: 1.3;
  object-fit: contain;
  width: 100%;
}

.achievements-container .center-content {
  height: 95%;
  width: 100%; /* Adjust the width of the center image */
  position: relative;
}

.achievements-container .center-content div{
  height: 100%;
}

.achievements-container .center-content .center-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.achievements-container .image-controls button {
  font-size: 100px;
  color: #989494;
  background: none;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  font-weight: 900;
}

.achievements-container .image-controls button:hover {
  color: #000;
}

/* .logo-image {
  background-color: #000;
} */
