/* previousevents.css */
.card-container {
  display: flex;
  justify-content: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
  padding: 10px; /* Increase the padding */
  margin: 150px 100px;
  gap: 100px;
}

.card {
  border: none; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 45%; /* Adjust the width as needed */
  height: 1400px; /* Allow the card to take full height */
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  text-align: left;
  border-radius: 25px;
}

.card-image {
  height: 800px; /* Set a fixed height for the image */
  width: auto; /* Allow the image to adjust its width while maintaining aspect ratio */
  max-width: 100%; /* Ensure the image doesn't exceed the card's width */
}

.card-title {
  font-size: 50px;
  margin: 40px 0 20px 0; ;
  text-align: left;
}

.card-description {
  font-size: 40px;
  text-align: left;
  overflow-y: auto; /* Add vertical scroll if content overflows */
  max-height: 335px; /* Set a maximum height for the scrollable area */
}


