/* Reset default margin and padding */


/* Center the entire form vertically and horizontally */
.add-course .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  background-color: #f0f0f0; 
}

/* Style the form container */
.add-course form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 500px;
}

/* Style form elements */
.add-course h2 {
  padding: 3%;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  background-color: brown;
}

.add-course label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333333;
}

.add-course input[type="text"],
.add-course textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-course input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#coordinator-dropdown {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Style the options */
#coordinator-dropdown option {
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

/* Style when the dropdown is focused */
#coordinator-dropdown:focus {
  border-color: #007bff; /* Change the border color when focused */
  box-shadow: 0 0 5px #007bff; /* Add a subtle box shadow when focused */
}
