.addlabslots {
  padding: 2rem 0;
  padding-bottom: 10rem;
}

.addlabslots .options {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 300px;
  width: calc(100% - 300px);
  background: white;
  gap: 1rem;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.13);
  z-index: 5;
}

.addlabslots .options .option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addlabslots .options .option select,
.addlabslots .options .option input:not([type="checkbox"]) {
  padding: 0.5rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  border-radius: 5px;
  width: 180px;
}

.addlabslots .options .option select {
  width: 250px;
}

.addlabslots .options button {
  padding: 0.5rem 1rem;
  background: var(--color-4);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.addlabslots .options button:active {
  filter: brightness(0.7);
}

.addlabslots .timetable {
  display: grid;
  grid-template-columns: 100px repeat(7, calc((100% - 100px) / 7));
  grid-template-rows: 60px repeat(9, 50px);
  margin-top: 1rem;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.146);
  position: relative;
}

.addlabslots .timetable .time-caption,
.addlabslots .timetable .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  height: 60px;
  color: white;
  outline: 1px solid white;
}

.addlabslots .timetable .time-caption h3 {
  font-size: 1rem;
  font-weight: 500;
}

.addlabslots .timetable .date h3 {
  font-weight: 500;
  font-size: 1rem;
}

.addlabslots .timetable .date p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.addlabslots .timetable .time-slot {
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  grid-column: 1;
}

.addlabslots .timetable .time-slot:nth-child(2n) {
  background-color: #eee;
  box-shadow: 0 0 0 1000px #eee;
  clip-path: inset(0 -10000px 0 0);
}

.addlabslots .timetable .labslot {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-3);
  border-radius: 5px;
  width: 100%;
  color: white;
}

.addlabslots .timetable .labslot h3 {
  font-weight: 500;
  font-size: 1rem;
}

.addlabslots .timetable .labslot p {
  font-size: 0.9rem;
}

.addlabslots .timetable .labslot#currentSlot {
  background-color: var(--color-4);
  z-index: 0; 
}
