/* Reset default margin and padding */
.add-events body,
h2,
form {
  margin: 0;
  padding: 0;
}

/* Center the entire form vertically and horizontally */
.add-events .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0; /* Set a background color */
}

/* Style the form container */
.add-events form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 500px;
  margin: 2rem auto;
}

/* Style form elements */
.add-events h2 {
  padding: 3%;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  background-color: brown;
}

.add-events label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333333;
}

.add-events input[type="text"],
.add-events input[type="number"],
.add-events input[type="date"],
.add-events input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-events input[type="file"] {
  display: none;
}

.add-events input[type="file"] + label {
  width: 100%;
  aspect-ratio: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.add-events input[type="file"] + label p {
  position: absolute;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
}

.add-events input[type="file"] + label p.active {
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
}

.add-events input[type="file"] + label:hover p.active {
  opacity: 1;
}

.add-events input[type="file"] + label img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: none;
}

.add-events input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto; /* Add this line to horizontally center the button */
  display: block;
}
