/* adduser.css */

/* General styles for the registration form */
.register-user {
  padding: 2rem 0;
}

.register-user h2 {
  font-size: 24px;
  color: #333;
}

.register-user .form-container {
  margin-top: 20px;
}

.register-user .role-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.register-user .role {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-1);
}

.register-user .role input {
  display: none;
}

.register-user .role label {
  padding: 0.5rem 1rem;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.register-user .role input:checked + label {
  background: var(--color-1);
  color: white;
}

.register-user input[type="text"],
.register-user input[type="email"],
.register-user input[type="password"],
.register-user input[type="number"],
.register-user select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.register-user input[type="radio"] {
  margin-right: 10px;
}

/* Styles for Course Coordinator fields */
.register-user .course-coordinator-fields {
  display: none;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.register-user .course-list label {
  font-size: 16px;
  color: #333;
}

.register-user .course-list select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Submit button */
.register-user input[type="submit"] {
  background-color: var(--color-3);
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Submit button hover effect */
.register-user input[type="submit"]:hover {
  background-color: #0056b3;
}
