/* adduser.css */

/* General styles for the registration form */
.register-user {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-user h2 {
    font-size: 24px;
    color: #333;
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Styles for Course Coordinator fields */
.course-coordinator-fields {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.course-list label {
    font-size: 16px;
    color: #333;
}

.course-list select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Submit button */
input[type="submit"] {
    background-color: var(--color-3);
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Submit button hover effect */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Center the role-selection div in the middle of the screen */
.role-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30%;
}

/* Add some styles for the role selection options */
.role-selection h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.role-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

/* Style for the radio buttons and labels */
.role-option label {
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the radio button itself */
.role-option input[type="radio"] {
    margin-right: 5px;
}
