.course-preview {
  width: 100%;
  aspect-ratio: 1.8;
}

.course-preview h2 {
  color: #333;
  margin-bottom: 20px;
}

/* Style for the course poster image */
.course-preview img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Style for the course details section */
.course-details {
  text-align: left;
  padding: 10px;
  padding-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 50px;
}

.course-details h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

ul li strong {
  font-weight: bold;
}

/* ... (your existing CSS rules) */

/* Style for the two-column layout when both are available */
.two-columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1rem;
}

.two-columns h3 {
  font-size: 1.2rem;
}

.two-columns p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.two-columns .poster {
  height: 100%;
  box-shadow: none;
}

.two-columns .poster img {
  height: 100%;
  margin: 0;
  object-fit: contain;
  box-shadow: none;
}

/* Centered style for image or details */
.centered {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

.centered img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  object-fit: contain;
  margin: 0;
}

/* Style for the course details section */
.centered .details {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
}

.centered .details h3 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.centered .details p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

ul li strong {
  font-weight: bold;
}
