/* Body styles */
.course {
  background-color: #f8f9fa;
  color: #333;
  min-height: calc(100vh - 4rem);
  padding: 2rem 0;
}

.course .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course h1 {
  font-weight: 600;
  font-size: 1.7rem;
}

.course .title p {
  font-size: 0.9rem;
}

.course .title a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-4);
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.course .title a img {
  filter: invert() brightness(2);
}
/* Table styles */
.course .table-container {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.course .table-responsive {
  overflow-x: auto;
}

.course .table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table header styles */
.course .table th {
  background-color: var(--color-1);
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 12px 20px;
}

/* Table row styles */
.course .table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Table cell styles */
.course .table td {
  padding: 10px 20px;
}

/* Action button styles */
.course .btn {
  background-color: var(--color-4);
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.course .btn:hover {
  background-color: var(--color-1);
}

/* Add course button styles */
.course .add-course {
  text-align: center;
  padding: 20px;
}

/* Add course button styles */
.course .add-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.course .add-button:hover {
  background-color: #1e7e34;
}
