/* Style the dashboard content */
.dashboard-content {
  padding: 20px;
  position: relative;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.dashboard-content .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: scaleX(-1) scaleY(1.5) translate(-40%, -40%);
  z-index: -1;
}

/* Style dashboard widgets */
.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0 30px;
  gap: 5px;
}

.dashboard-content .widget {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.dashboard-content .widget h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold; /* Make widget titles bold */
}

.dashboard-content .widget p {
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.4; /* Improve text readability with increased line height */
}

/* Style alternate rows for a dashboard-like feeling */
.dashboard-content /* .widget:nth-child(odd) {
    background-color: var(--color-2); 
} */

.dashboard-content .widget form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-content .widget-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.manage-button,
.dashboard-content .update-button {
  background-color: var(--color-5);
  color: #fff;
  border: none;
  margin-top: 20px;
  padding: 6px 12px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.preview-button:hover,
.manage-button:hover,
.dashboard-content .update-button:hover {
  background-color: var(--color-4);
}

/* Add styles for the elegant widget */
.dashboard-content .elegant-widget {
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0 30px;
}

.dashboard-content .elegant-widget:nth-child(2) {
  display: flex;
  align-items: center;
  height: 50vh;
}

.dashboard-content .elegant-widget h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dashboard-content .elegant-widget:nth-child(2) h2 {
  font-size: 3rem;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard-content .elegant-widget h2 span {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 5px 8px;
  background-color: var(--color-1);
  color: white;
  border-radius: 3px;
}

.dashboard-content .elegant-widget .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.dashboard-content .elegant-widget .row p {
  font-size: 0.9rem;
  padding: 1rem;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dashboard-content .elegant-widget .row p i {
  font-size: 1.75rem;
}

.dashboard-content .elegant-widget .row p:nth-child(1) {
  background-color: var(--color-1);
}

.dashboard-content .elegant-widget .row p:nth-child(2) {
  background-color: var(--color-4);
}

.dashboard-content .elegant-widget .row p:nth-child(3) {
  background-color: var(--color-3);
}

.dashboard-content .elegant-widget .row p span {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dashboard-content .elegant-widget .widget-buttons {
  display: block;
}

.dashboard-content .elegant-widget .widget-buttons a {
  margin: 0;
}

/* Style buttons as needed */
.dashboard-content .elegant-widget .preview-button {
  background-color: var(--color-3);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Style the time slot input */
.dashboard-content .allocated-time-input {
  width: 60px; /* Adjust the width as needed */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Style the time unit (e.g., "s" for seconds) */
.dashboard-content .time-unit {
  margin-left: 4px;
  font-size: 14px;
  color: #333;
}

/* styling for the contact support reviews */

.dashboard-content /* table {
  display: flex;
  margin: 20px;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 1rem;
}

.dashboard-content tbody {
  margin: auto;
}

th,
.dashboard-content td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #1e0808;
}

.dashboard-content th {
  background-color: var(--color-3);
}

.dashboard-content tr:hover {
  background-color: #f5f5f5;
} */

/* Add some spacing and styling to the table container */
.dashboard-content /* .table-container {

    display: blo;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
} */

.dashboard-content .contact-support {
  margin: 30px 10px;
  border-radius: 10px;
}

.dashboard-content .custom-large-card {
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background: linear-gradient(to bottom, #fdf1ec, #ffdada);
}

.dashboard-content .custom-large-card h2 {
  margin: 20px 10px;
}

.dashboard-content .custom-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-content .name-email {
  width: 180px;
  padding-right: 20px;
  font-style: italic;
}

.dashboard-content .custom-card h3 {
  font-size: 20px;
  margin: 0;
}

.dashboard-content .custom-card h5 {
  font-size: 13px;
  font-weight: 400;
  color: #969696;
  margin: 0;
}

.dashboard-content .custom-card p {
  width: 100%;
  margin: 10px 0 15px;
  font-weight: 500;
}

.dashboard-content .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

.dashboard-content .checkbox {
  display: flex;
  align-items: center;
}

.dashboard-content .checkbox label {
  margin-left: 10px;
  font-weight: 500;
}

.dashboard-content .checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.dashboard-content .buttons a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--color-3);
  color: white;
  font-size: 1rem;
  border-radius: 1rem;
}

.dashboard-content .buttons a i {
  font-size: 0.8rem;
}

.dashboard-content .course {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  position: relative;
  overflow: hidden;
}

.dashboard-content .course > img {
  position: absolute;
  height: 120%;
  width: 120%;
  object-fit: contain;
  z-index: -1;
}

.dashboard-content .course .container {
  margin-top: 10%;
}

.dashboard-content .course .container h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--color-1);
}

.dashboard-content .course .container p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.dashboard-content .course .container a {
  display: block;
  padding: 0.5rem 1rem;
  background-color: var(--color-5);
  width: max-content;
  border-radius: 5px;
  color: white;
}

/* Add this to your existing CSS or create a new CSS file */
.dashboard-content #log-history-widget {
  padding-top: 10px;
  margin: 20px;
}

.dashboard-content .log-history-content {
  padding: 10px;
  max-height: 400px; /* Set a maximum height for the log history */
  overflow-y: auto; /* Enable vertical scroll if content exceeds the height */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.dashboard-content .log-history-content p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}
.dashboard-content #log-history-widget a {
  padding: 10px;
}
