
body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
   
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
    margin: 20px;
    color: #333;
}

button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

a button {
    background-color: #333;
}
