/* Add this CSS to style your table content */

/* Table */
.container{
    padding-bottom: 20px;
}
.bookings-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    
}

/* Table headers */
.bookings-table th {
    background-color:var(--color-1);
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Table rows */
.bookings-table tr {
    border: 1px solid #ccc;
}

/* Table data cells */
.bookings-table td {
    padding: 10px;
}

/* Alternating row background colors */
.bookings-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect on rows */
.bookings-table tr:hover {
    background-color: #e0e0e0;
}

/* Add some spacing to the Edit and Delete links */
.bookings-table a {
    margin-right: 10px;
}
/* Style for the Edit button */
.btn-edit {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-edit:hover {
    background-color: #0056b3;
}

/* Style for the Delete button */
.btn-delete {
    background-color: #FF3B3B;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-delete:hover {
    background-color: #b30000;
}
