/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the footer container */
.footer {
    background-color: #F9DB08;
    max-width: 1440px; /* Change width to max-width for responsiveness */
    width: 100%;
    height: auto; /* Auto height for responsiveness */
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to a new line on smaller screens */
    justify-content: space-between;
    padding: 40px;
    color: #9D170E;
    margin-right: 20px;
}

/* Style footer columns */
.footer-column {
    flex: 1;
    padding: 10px;
    text-align: left; /* Left-align text in columns */
}

.footer-column h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
    text-decoration: none;
    color: #9D170E;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* Style contact info icons */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info > div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-info img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.address{
    padding: 20px;
}

