/* Style the footer container */
.footer {
  background-color: var(--color-2);
  width: 100%;
  color: var(--color-1);
}

.footer .container {
  display: grid;
  grid-template-columns: 40% repeat(auto-fill, minmax(250px, 30%));
  padding: 2rem 0;
}

.footer-column:nth-child(1) img {
  height: 7rem;
  margin-bottom: 1rem;
}

.footer-column h2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer-column ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.footer-column a {
  text-decoration: none;
  color: var(--color-1);
}

.footer-column a:hover {
  text-decoration: underline;
}

.contact {
  display: grid;
  grid-template-columns: 2px 1.5rem auto;
  gap: 0.5rem 10px;
}

.contact h2 {
  grid-column: 1/4;
}

.contact address {
  grid-column: 2/4;
}

.contact .tele-icon {
  grid-column: 2;
  margin-top: 3px;
  margin-inline: auto;
}

.contact .email-icon {
  grid-column: 2;
  margin-inline: auto;
}

.contact .web-icon {
  grid-column: 2;
  margin-inline: auto;
}
