/* Style the header container */
header {
  background-color: var(--color-1);
  width: 100%; /* Make the header full width */
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 0.5rem;
}

/* Style the logo container */
.logo img {
  height: 40px;
}

/* Style the title container */
.title span {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Style the menu cntainer */
.menu {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the menu to the right */
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.menu ul li {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
}

.menu ul li:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; /* Initial transparent line */
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Hover style - Menu name + half underlining */
.menu ul li:hover:before {
  width: 30px; /* Underline half of the text */
  background-color: white;
}

/* Selected style - Bold menu name + half underlining */
.menu ul li.selected {
  font-weight: 600;
}

.menu ul li.selected:before {
  width: 30px; /* Underline half of the text */
  background-color: white;
}

/* Style the profile picture container */
.profile img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

/* Style the menu button for smaller screens */
.menu-button {
  display: none;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}

/* Style the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 10px;
  top: 100%;
  left: -20px;
  width: max-content;
  background-color: #9d170e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
  margin: 7px;
  z-index: 0;
}

/* Show the dropdown menu on hover */
.menu ul li:hover .dropdown-menu {
  display: inline-block;
  z-index: 1;
}

/* Style the dropdown menu items */
.dropdown-menu li {
  margin: 10px 0; /* Increase the top and bottom margin to create more gap */
  color: white;
}
