/* Style the header container */
header {
  color: var(--color-text-1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.146);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: white;
}

header .container {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}

/* Style the menu cntainer */
.menu {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the menu to the right */
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.menu ul li {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
}

.menu ul li a {
  color: var(--color-text-1);
}

.menu ul li:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent; /* Initial transparent line */
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Hover style - Menu name + half underlining */
.menu ul li:hover:before {
  width: 30px; /* Underline half of the text */
  background-color: var(--color-text-1);
}

/* Selected style - Bold menu name + half underlining */
.menu ul li.selected {
  font-weight: 600;
}

.menu ul li.selected:before {
  width: 30px; /* Underline half of the text */
  background-color: white;
}

/* Style the profile picture container */
.profile {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 40px auto;
  gap: 0.25rem 0.5rem;
  align-items: center;
}

.profile h5 {
  font-weight: 500;
  font-size: 1rem;
}

.profile p {
  grid-column: 2;
  font-size: 0.8rem;
  color: var(--color-text-2);
}

.profile .img {
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  grid-row: 1/3;
  border: 2px solid var(--color-1);
  color: var(--color-1);
}
