/* Body styles */
.labslots {
  background-color: #f8f9fa;
  color: #333;
  min-height: calc(100vh - 4rem);
  padding: 2rem 0;
}

.labslots .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}

.labslots h1 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1.7rem;
}

.labslots p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.labslots .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.labslots .title h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

.labslots .title a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-4);
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.labslots .title a img {
  filter: invert() brightness(2);
}

/* Table styles */
.labslots .lab-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.labslots .table-responsive {
  overflow-x: auto;
}

/* Table header styles */
.labslots .lab-table th {
  background-color: var(--color-1);
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 12px 20px;
}

/* Table row styles */
.labslots .lab-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Table cell styles */
.labslots .lab-table td {
  padding: 10px 20px;
}

/* Action button styles */
.labslots .btn {
  background-color: var(--color-4);
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.labslots .btn:hover {
  background-color: var(--color-1);
}

/* Add lab slot button styles */
.labslots .add-labslot {
  text-align: center;
  padding: 20px;
}

.labslots .add-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.labslots .add-button:hover {
  background-color: #1e7e34;
}
