.previousevents {
  padding-top: 1.5rem;
}

/* Style the card container */
.previousevents .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

/* Style the card */
.previousevents .card {
  width: 100%;
  height: 450px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Hover effect for the card */
.previousevents .card:hover {
  transform: translateY(-5px);
}

/* Style the card image */
.previousevents .card img {
  padding: 5%;
  width: auto;
  height: 50%;
  object-fit: scale-down;
}

/* Style the card content */
.previousevents .card-content {
  padding: 1rem 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.previousevents .card-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.previousevents .card-text {
  font-size: 0.85rem;
  font-weight: 600 !important;
  color: var(--color-1);
}

/* Style the card actions (buttons) */
.previousevents .card-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 10px 20px;
  background: #f0f0f0;
}

.previousevents .edit-button,
.previousevents .delete-button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 0.5s all ease;
}
.previousevents .default-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255) url("../images/add.png");
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
.previousevents .edit-button {
  background-color: var(--color-4);
}

.previousevents .delete-button {
  background-color: var(--color-1);
}

.previousevents .edit-button:hover,
.previousevents .delete-button:hover {
  filter: brightness(1.2);
}
