.previousevents {
  padding-top: 1.5rem;
}

/* Style the card container */
.previousevents .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

/* Style the card */
.previousevents .card {
  width: 100%;
  height: 450px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
}

/* Hover effect for the card */
.previousevents .card:hover {
  transform: translateY(-5px);
}

/* Style the card image */
.previousevents .card img {
  padding: 5% 5% 0% 5%;
  width: auto;
  height: 200px; /* Set the desired height for the images */
  object-fit: cover; /* You can use "cover" or "contain" as per your preference */
}

/* Style the card content */
.previousevents .card-content {
  padding: 1rem 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.previousevents .card-title {
  font-size: 0.8rem;
  font-weight: 600;
}

/* .previousevents .card-description {
  margin-top: 5px;
  font-size: 0.75rem;
  font-weight: 400;
  max-height: 60px; 
  overflow: hidden;
  position: relative;
} */

.previousevents .card-description {
  margin-top: 5px;
  font-size: 0.70rem;
  font-weight: 400;
  max-height: 100px; /* Adjust this value as needed */
  overflow: auto; /* Enable scroll for overflowed content */
}

/* Adjust the height to accommodate the scroll bar if needed */
.previousevents .card-description.overflowed {
  max-height: 100px; /* Same as the initial max-height value */
}

/* Adjust scrollbar width */
.previousevents .card-description::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* Track */
.previousevents .card-description::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
.previousevents .card-description::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb/handle */
  border-radius: 3px; /* Rounded corners for the thumb */
}

.previousevents .show-more {
  display: none;
}

.previousevents .card-date {
  margin-top: 7px;
  font-size: 0.6rem;
  font-weight: 300;
}

.previousevents .card-text {
  font-size: 0.85rem;
  font-weight: 600 !important;
  color: var(--color-1);
}

/* Style the card actions (buttons) */
.previousevents .card-actions {
  display: flex;
  justify-content: center; /* Distribute buttons horizontally */
  align-items: center; /* Vertically align buttons */
  padding: 10px 10px;
  background: #f0f0f0;
  gap: 0.5rem;
}

/* Style the edit, publish and delete buttons */
.previousevents .edit-button,
.previousevents .unpublish-button,
.previousevents .publish-button,
.previousevents .delete-button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.5s all ease;
  font-size: 10px;
}

.previousevents .edit-button {
  background-color: var(--color-4);
  width: 70px;
}

.previousevents .publish-button {
  background-color: #555555;
  width: 75px;
}

.previousevents .unpublish-button {
  background-color: #B2BEB5;
  width: 85px;
}

.previousevents .delete-button {
  background-color: var(--color-1);
  width: 70px;
}

.previousevents .edit-button:hover,
.previousevents .delete-button:hover,
.previousevents .publish-button:hover,
.previousevents .unpublish-button:hover {
  filter: brightness(1.2);
}

.delete-button a, .edit-button a ,.publish-button a, .unpublish-button a {
  
  color: inherit;
}


