.side {
  background-color: var(--color-shade-1);
  height: 100vh;
  position: fixed;
  width: 300px;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

.side .logo {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  background-color: var(--color-1);
}

.side .logo img {
  height: 25px;
}

.side .logo span {
  font-size: 0.9rem;
  color: white;
}

.side .links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 4rem);
  padding: 2rem 1rem;
}

.side .links .link {
  width: 100%;
}

.side .links .link .link-main {
  height: 3rem;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 25px auto;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.side .links .link.active .link-main {
  border-left: 2px solid var(--color-2);
  background-color: #f9dd0852;
}

.side .links .link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  filter: invert();
}

.side .links a.link {
  color: white;
  font-size: 1rem;
}

.side .links .link ul {
  display: none;
}

.side .links .link.active ul {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}


.dropdown-container {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  list-style: none; 
  margin-left: 50px;
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-1-shade);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-container:hover .dropdown-menu {
  display: flex;
}

/* Dropdown menu items */
.dropdown-container .dropdown-menu li {
  padding: 5px;
  margin-right: 20px;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover{
  border-radius: 4px;
  display: flex;
  margin-right: 20px;
  padding: 5px;
  background-color: #f9dd0852;
}

.labslots-opt{
  margin-top: 80px;
}