.side {
  background-color: var(--color-shade-1);
  height: 100vh;
  position: fixed;
  width: 300px;
  z-index: 11;
  display: flex;
  flex-direction: column;
}

.side .logo {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  background-color: var(--color-1);
}

.side .logo img {
  height: 25px;
}

.side .logo span {
  font-size: 0.9rem;
  color: white;
}

.side .links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 4rem);
  padding: 2rem 1rem;
}

.side .links .link {
  width: 100%;
}

.side .links .link .link-main {
  height: 3rem;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 25px auto;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.side .links .link.active .link-main {
  border-left: 2px solid var(--color-2);
  background-color: #f9dd0852;
}

.side .links .link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  filter: invert();
}

.side .links a.link {
  color: white;
  font-size: 1rem;
}

.side .links .link ul {
  display: none;
}

.side .links .link.active ul {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  width: 100%;
  margin: 1rem 0;
  gap: 1rem;
}



/* Dropdown container */
.dropdown-container {
  position: relative; /* Required for positioning the dropdown */
}

/* Dropdown trigger link */
.dropdown-container .link {
  width: 100%;
  position: relative; /* Required for positioning the dropdown menu */
  transition: background-color 0.3s;
}

/* Dropdown trigger link on hover */
.dropdown-container .link:hover {
  background-color: #f9dd08; /* Highlight on hover */
}

/* Dropdown icon */
.dropdown-container .link .link-main {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  width: 100%;
}

.dropdown-container .link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  filter: invert(1); /* Invert the icon color */
}

.dropdown-container .link p {
  color: white;
  font-size: 1rem;
}

/* Dropdown menu */
.dropdown-container .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

/* Dropdown menu items */
.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #333;
  transition: background-color 0.3s;
}

/* Dropdown menu items on hover */
.dropdown-container .dropdown-menu li:hover {
  background-color: #f2f2f2; /* Highlight on hover */
}



