/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --color-1: #9d170e;
  --color-2: #f9db08;
  --color-3: #305fa6;
  --color-4: #00b007;
  --color-5: #790483;
  --color-text-1: #333;
  --color-text-2: #666;
  --color-shade-1: #681009;
}

.container {
  width: clamp(300px, 90%, 1440px);
  margin: auto;
}

a {
  text-decoration: none;
}

.flex-box {
  display: flex;
}

.left {
  width: 300px;
}

.right {
  width: calc(100% - 300px);
  padding-top: 4rem;
}
