/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --color-1: #9d170e;
  --color-2: #f9db08;
  --color-3: #305fa6;
  --color-4: #00b007;
  --color-5: #790483;
  --color-text-1: #333;
  --color-text-2: #666;
  --color-shade-1: #681009;
}

.container {
  width: clamp(300px, 90%, 1440px);
  margin: auto;
}

a {
  text-decoration: none;
}

.flex-box {
  display: flex;
}

.left {
  width: 300px;
}

.right {
  width: calc(100% - 300px);
  padding-top: 4rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title h1 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title h1 a {
  display: inline;
  background: none;
  color: var(--color-text-1);
  opacity: 0.7;
  font-weight: 400;
  padding: 0;
  font-size: 1.3rem;
}

.title h1 a:hover {
  color: var(--color-3);
}

.title a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-4);
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

.title a img {
  filter: invert() brightness(2);
}

.alert {
  position: fixed;
  z-index: 100;
  padding: 1rem 2rem;
  top: 8rem;
  left: calc(50% + 150px);
  transform: translate(-50%, -50%);
  color: white;
  width: 60%;
  animation: alert forwards 5s;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.alert.error {
  background-color: var(--color-1);
}

.alert.success {
  background-color: var(--color-4);
}

@keyframes alert {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  5% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  6% {
    transform: translate(-51%, -50%);
  }
  7% {
    transform: translate(-50%, -50%);
  }
  8% {
    transform: translate(-49%, -50%);
  }
  9% {
    transform: translate(-50%, -50%);
  }
  90% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
