.manage-topic-slide #sidebar{
    padding: 5rem 2rem 0.5rem;
    margin: 0;
}

.manage-topic-slide #sidebar form input[type="file"]+label{
    width: 100%;
    aspect-ratio: 5/3;
    display: flex;
    justify-content: center;
    object-fit: contain;
    max-height: 300px;
}

.manage-topic-slide #sidebar form input[type="file"]{
    display: none;
}

.manage-topic-slide #sidebar form{
    color: white;
}